@media (max-width:425px) {
    #sabout{
        height: 856px;
        margin-top: 70px;
    }
    #ab {
        margin-top: 30px;
        font-size: 35px;
        margin-bottom: 2px;
    }
    #hex{
        margin-top: 45px;
    }
    .hextitle{
        margin-top: 14px;
    }
    .hexpara{
        width: 70%;
    margin: 0px auto;
        margin-bottom: 3px;
    }
    .abouthex{
        width: 85%;
        margin:0px auto;
        margin-bottom: 20px;
    }
    .abouthexagon{
        height: 90px;
    width: 110px;
    }
}