@media (max-width:425px) {
    #newarrow{
        height: 45px;
        width:40px;
        top: -20px;
    }
    
    #uparrow{
        font-size: 20px;
    }
    .social-container {
    padding-top: 5px;
    }
    footer p{
        font-size: 14px;
    }
}