@media (max-width:425px) {
    #newarrow{
        height: 40px;
        width: 35px;
        top: -20px;
    }
    #uparrow{
        font-size: 20px;
    }
    .social-container {
    padding-top: 10px;
    }
    footer p{
        font-size: 14px;
    }
}