@media (max-width:425px) {
#secondvideo{
    transform-origin: center;
    transform: rotateX(180deg);
}
#infop{
font-size: 25px;
}
#pinkcolor{
    font-size: 26px;
}
#ip{
    margin:25px 0px;
    margin-bottom: 30px;
    font-size: 25px;
}
.row{
    display: none;
}
#video{
    display: block;
}
#secondvideo{
    display: block;

}
#btnn{
    height: 45px;
    font-size: 19px;
    width: 180px;
}
#righta{
    font-size: 15px;
    
}
}