@media (max-width:425px) {
#projp{
    margin-top: 30px;
    font-size: 35px;
    margin-bottom: 2px;
    padding-top: 28px;
}
.projectcontainer{
    flex-direction: column;
    margin: 5px auto;
    padding-bottom: 10px;
}
.project{
    height: 230px;
    width: 230px;
    margin: 20px auto;
}
}